/* Styles */
/* Parallax image */
html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
    /* background-color: #111; */
    /* FIXME: Background color to change ya know */
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: -100px;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(keyboard.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: none;/*translateZ(-1px) scale(2)*/; 
    /* FIXME: Uncomment transform for scrolly */
    z-index: -1;
    min-height: 100vh;
}

header * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
} 



/* Isotope Gallery */
/* FIXME: Container margin workaround to to separate parallax image */
.container {
    /* margin-top: 100px;
    margin-bottom: 200px; */
    margin: 0 auto;
    padding: 0;

}
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
    border-top: #2b90d9;
    border-bottom: #2b90d9;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
    
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
    
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #2b90d9;
    
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b90d9;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.card-btn:hover{
    background-color: #2b90d9;
    color: white;
}

/* Skill tags */
@media (min-width: 768px) {
    .skill-tags {
      margin-left: 10px
    }
  }

.skill-tag {
    /* background-color: #eceff5; */
    background-color: #cccfc5;
    color: black;
    display: inline-block;
    padding: 4px 8px;
  }
  